<div class="container">
  <h3>Survey: <%=@survey.title%></h3>
  <form method='post' action='/survey/<%= @survey.id %>'>
  <ul>
    <%@question.each do |question|%>
    <li><%= question.prompt %>
      <br> 
    <%@choice = Choice.where(question_id: question.id)%>
      <% @choice.each do |choice| %>
        <input class="choices" type="radio" name='[choices]<%=question.id%>' value=<%= choice.id %>> <%= choice.option %>
        <!-- <input type="hidden" name="question_id" value=<%=question.id%>><br></li> -->
        <input type="hidden" name="survey_id" value=<%=@survey.id%>><br></li>
        
      <%end%>
    <%end%> 
  </ul>
  
  <button class="btn btn-default">Submit Answers</button>
</form>
</div>



